body{
 display: flex;
 flex-direction: column;
 align-items:center;
 justify-content: center;   
 height: 100vh;
 margin: 0;
 font-family: sans-serif;
 background:linear-gradient(#460aea,rgb(0, 0, 0));


}


.menu-produtos a {
   text-decoration: none;
   color: #00f2ff;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
   
}

.menu-produtos ul {

    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
   
}

.menu-produtos li {
    margin-left:  15px;
    


}

h1{
    font-size: 120px;
    margin-bottom: 30px;
    text-align: center;
    font-family:'Press Start 2P', sans-serif;
    font-style: italic;
    color: #f6ff00;
    


}


.borda{
    border: 3px solid  transparent rgb(166, 1, 255);
    border-radius: 9px;
    transition: 0.3s;
    
}



.borda:hover{
    border: 5px solid rgba(155, 14, 231, 0.68);
    font-size: 20px;
    
    
}
@media(max-width:600px){
   h1{

    font-size:45px;
    letter-spacing:5px;
}
}
