body{
 display: flex;
 flex-direction: column;
 align-items:center;
 justify-content: center;   
 height: 100vh;
 margin: 0;
 font-family: sans-serif;
 background:linear-gradient(rgb(255, 255, 255),rgb(73, 70, 76));


}


.menu-produtos a {
   text-decoration: none;
   color: black;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
   
}

.menu-produtos ul {

    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
   
}

.menu-produtos li {
    margin-left:  15px;
    


}

h1{
    font-size: 120px;
    margin-bottom: 30px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    


}
h1:hover{
    color: rgb(118, 114, 114);
    
}


.borda{
    border: 3px solid  transparent black;
    border-radius: 9px;
    transition: 0.3s;
    
}



.borda:hover{
    border: 5px solid black;
    font-size: 20px;
    
    
}
