body{
background:linear-gradient(rgb(255, 255, 255),rgb(73, 70, 76));
height: 100vh;

}


.menu-produtos a {
   text-decoration: none;
   color: black;
   
}

.menu-produtos ul {

    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;

}

.menu-produtos li {
    margin-left: 20px;
    


}